<!DOCTYPE html>
<html>
<head>
    <title>Add Donor</title>
</head>
<body>

<h1>Add Blood Donor</h1>

<form method="POST">

    {% csrf_token %}

    <input type="text" name="name" placeholder="Enter Name">
    <br><br>

    <input type="number" name="age" placeholder="Enter Age">
    <br><br>

    <select name="blood_group">

        <option>A+</option>
        <option>A-</option>
        <option>B+</option>
        <option>B-</option>
        <option>O+</option>
        <option>O-</option>
        <option>AB+</option>
        <option>AB-</option>

    </select>

    <br><br>

    <input type="text" name="city" placeholder="Enter City">
    <br><br>

    <input type="text" name="phone" placeholder="Enter Phone">
    <br><br>

    <button type="submit">Save Donor</button>

</form>

</body>
</html>