<!DOCTYPE html>
<html>
<head>
    <title>Blood Management System</title>
</head>
<body>

    <h1>Blood Management System</h1>

    <a href="/add/">Add Donor</a>
    <br><br>

    <a href="/donors/">View Donors</a>
    <br><br>

    <form action="/search/" method="GET">

        <label>Search Blood Group:</label>

        <select name="blood_group">

            <option>A+</option>
            <option>A-</option>
            <option>B+</option>
            <option>B-</option>
            <option>O+</option>
            <option>O-</option>
            <option>AB+</option>
            <option>AB-</option>

        </select>

        <button type="submit">Search</button>

    </form>

</body>
</html>